# Default registry (npm public)
registry=https://registry.npmjs.org/

# Private GitHub registry for @prvacy scope
@prvacy:registry=https://npm.pkg.github.com
@Rameez349:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_NODE_AUTH_TOKEN}
//@zf44bl-maker:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
