# Default registry (npm public)
registry=https://registry.npmjs.org/

# Private GitHub registry for @prvacy scope
@prvacy:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_NODE_AUTH_TOKEN}
