apiVersion: v1
kind: Service
metadata:
  name: chat-api
spec:
  type: NodePort
  selector:
    app: chat-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30003
