.banner {
  background-color: #fff8f0;
  padding: 20px;
  height: 360px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color: #333;
  }

  p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
  }
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 260px;
  height: auto;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.why-plateful-section {
  padding: 0px 110px;
  margin: 40px 0px;

  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }
}

.platfeful-cards {
  display: grid;
  grid-auto-flow: column;
  margin-top: 20px;
}

.upcoming-dinners-section {
  padding: 0px 110px;
  margin: 40px 0px;

  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
}

.upcoming-dinner-cards {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
